<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6201/UserManagementServer/UserManagementService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserManagementService"
                contract="UserManagementServer.IUserManagementService" name="BasicHttpBinding_IUserManagementService" />
        </client>
    </system.serviceModel>
</configuration>